/* Used Color Palette 252289: https://colorhunt.co/palette/252289 */
a {
    color: #768e8a;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none; /* gets rid of underline for anchor tags */
}

body {
    color: #40514e;
    font-family: 'Merriweather', serif;
    margin: 0; /* sets all four margin sides to 0 */
    text-align: center;
}

h1 {
    color: #34626c;
    font-family: 'Libre Baskerville', serif;
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
}

h2 {
    color: #34626c;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}

h3 {
    color: #768e8a;
    font-family: 'Montserrat', sans-serif;
}

hr {
    background-color: inherit;
    border-color: #c6b497;
    border-style: none; /* sets all border styles to none*/
    border-top-style: dotted; /* sets just the top boder to dotted */
    border-width: 5px;
    height: 0;
    margin: 100px auto;
    width: 5%;
}

p {
    line-height: 2;
}

/*************CLASS TAGS*************/
.bottom-cloud {
    bottom: 300px;
    left: 250px;
    position: absolute;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 40px;
}

.code-img {
    float: left;
    height: auto;
    margin-right: 30px;
    width: 20%;
}

.cpu-img {
    float: right;
    height: auto;
    margin-left: 30px;
    width: 20%;
}

.skill-row {
    margin: 100px auto 100px auto;
    text-align: left;
    width: 50%;
}

.emp_undr {
    text-decoration: underline;
}

.intro {
    margin: auto;
    width: 30%;
}

.contact-description {
    margin: 40px auto 60px;
    width: 40%;
}

.footer-link:hover {
    color: #becac8;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none; /* gets rid of underline for anchor tags */
}

.copyright {
    color: #becac8;
    font-size: 0.75rem;
    margin: 20px;
    padding: 30px 0 10px 0;
}

.btn {
   background: #94BBC3;
   background-image: -webkit-linear-gradient(top, #94BBC3, #34626C);
   background-image: -moz-linear-gradient(top, #94BBC3, #34626C);
   background-image: -ms-linear-gradient(top, #94BBC3, #34626C);
   background-image: -o-linear-gradient(top, #94BBC3, #34626C);
   background-image: -webkit-gradient(to bottom, #94BBC3, #34626C);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   color: #EFEFEF;
   font-family: 'Montserrat', sans-serif;
   font-size: 1rem;
   font-weight: 100;
   padding: 15px;
   -webkit-box-shadow: 0 0 6px 0 #000000;
   -moz-box-shadow: 0 0 6px 0 #000000;
   box-shadow: 0 0 6px 0 #000000;
   border: solid #34626C 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #FFFFFF 1px;
   background: #BDD5D9;
   background-image: -webkit-linear-gradient(top, #BDD5D9, #577C83);
   background-image: -moz-linear-gradient(top, #BDD5D9, #577C83);
   background-image: -ms-linear-gradient(top, #BDD5D9, #577C83);
   background-image: -o-linear-gradient(top, #BDD5D9, #577C83);
   background-image: -webkit-gradient(to bottom, #BDD5D9, #577C83);
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   text-decoration: none;
}

.top-container {
    background-color: #e9ede8;
    padding-top: 100px;
    position: relative;
}

.middle-container {
    margin: 100px 0;
}

.bottom-container {
    background-color: #34626c;
    padding: 50px 0 20px;
}
